!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.title
      //-link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      //-link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fredericka+the+Great')
      meta(name="description", content=locals.description)
      meta(name="author", content=locals.owner)
      link(rel='stylesheet', href='/style/github.css')
      link(rel='stylesheet', href='/style/main.css')
  body
    block content
      p There's no content yet...
